.box-box3a {
    background-image: url("../images/youtube .png");
    background-size: cover;
    background-repeat: no-repeat;
}

.box-box3b {
    background-image: url("../images/spotify.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.separator {
    width: 50px;
}

.topseparator {
    width: 100%;
    height: 20px;
}