/* @import url('https://use.fontawesome.com/releases/v5.4.2/css/all.css'); */


* {
    box-sizing: border-box;
  }
  
  body {
    background-color: lightblue;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .a{
    height: 20px;
    color: white;
  }

  a {
    color: #FFF;
    font-size: 25px;
  }
  a:hover {
    color: #FFF;
  }

  main {
    height: 100%;
    flex-grow: 1;
    display: flex;
    color: white;
  }
  
  nav {
    height: 50px;
    width: 100%;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
    color: white;
    display: flex;
  }
  
  nav div {
    font-size: 22px;
    height: 100%;
    width: 450px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    /*background: #1c2532;*/
  }
  
  nav .links {
    background: #28324366;
    flex-grow: 1;
  }
  
  main .albums {
    padding: 0 50px;
    box-sizing: border-box;
    width: 451px;
    height: 100%;
    background: #28324366;
    border-right: 1px solid #323e4f;
  }
  
  main h2 {
    color: white;
    /* margin: -20px; */
  }
  
  main .albums .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-rows: repeat(auto-fill, 150px);
    grid-gap: 50px;
  }
  
  main .album {
    height: 100%; 
    display: flex;
    flex-direction: column;
  }
  
  .album > span {
    margin: 16px 0;
    user-select: none;
  }
  
  .album-meta {
    width: 100%;
    min-height: 150px;
    display: flex;
  }
  
  .album-meta img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .album-meta > span {
    padding-bottom: 10px;
    font-size: 24px;
    flex-grow: 1;
    align-self: center;
    text-align: center;
  }
  
  .album-playlist {
    flex-grow: 1;
    overflow: scroll;
    box-sizing: border-box;
  }
  
  .playlist-song {
    display: flex;
  }
  
  .playlist-song i  {
    height: 40px;  
    width: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .playlist-song span {
    height: 40px;
    display: flex;
    align-items: center;
    user-select: none;
  }
  
  .album img {
    width: 150px;
    height: 150px;
  }
  
  main .albums .grid img {
    max-height: 100%;
    max-width: 100%;
  }
  
  .playlist-square {
    position: relative;
  }
  
  .playlist-square .play-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: ghostwhite;
    height: 30px;
    width: 30px;
    z-index: 5;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 3px; */
    color: black;
  }



  /* Resizeable Starts Here...*/

  .react-resizable {
    position: relative;
    color: white;
  }
  .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
    background-position: bottom right;
    padding: 0 3px 3px 0;
  }
  .react-resizable-handle-sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
    transform: rotate(90deg);
  }
  .react-resizable-handle-se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
  }
  .react-resizable-handle-nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
    transform: rotate(180deg);
  }
  .react-resizable-handle-ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
    transform: rotate(270deg);
  }
  .react-resizable-handle-w,
  .react-resizable-handle-e {
    top: 50%;
    margin-top: -10px;
    cursor: ew-resize;
  }
  .react-resizable-handle-w {
    left: 0;
    transform: rotate(135deg);
  }
  .react-resizable-handle-e {
    right: 0;
    transform: rotate(315deg);
  }
  .react-resizable-handle-n,
  .react-resizable-handle-s {
    left: 50%;
    margin-left: -10px;
    cursor: ns-resize;
  }
  .react-resizable-handle-n {
    top: 0;
    transform: rotate(225deg);
  }
  .react-resizable-handle-s {
    bottom: 0;
    transform: rotate(45deg);
  }

  .layoutRoot {
    display: flex;
    flex-wrap: wrap;
  }



  /* React-Grid-Layout CSS Starts Here */

  .react-grid-layout {
    position: relative;
    transition: height 200ms ease;
  }
  .react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
  }
  .react-grid-item.cssTransforms {
    transition-property: transform;
  }
  .react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
  }
  
  .react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
  }
  
  .react-grid-item.dropping {
    visibility: hidden;
  }
  
  .react-grid-item.react-grid-placeholder {
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
  }
  
  .react-grid-item > .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  }
  
  .react-resizable-hide > .react-resizable-handle {
    display: none;
  }



  /* Test Box Settings */

  .box-box3a {
    background-image: url("../images/youtube .png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .box-box3b {
    background-image: url("../images/spotify.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .separator {
    width: 50px;
  }

  .topseparator {
    width: 100%;
    height: 20px;
  }